
<footer>
  <p class="text-center text-muted">© Copyright 2016 Block Solid</p>
</footer>

<!-- scripts -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/javascripts/contact.js"></script>

