
<!-- navbar -->
    <nav id="main-menu" class="navbar navbar-default " role="navigation">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo"><a class="navbar-brand" id="my-name" href="/index"><i class="fa fa-cubes" id="navbar-cube"></i>Block-Solid</a></div>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/index"></a>
                    </li>
                    <li class="menu-item" id="menu-1">
                        <a href="/team">About Us</a>
                    </li>
                    <li class="menu-item" id="menu-2">
                        <a href="/why">Learn More</a>
                    </li>
                    <li class="menu-item" id="menu-3">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

    </nav>
  <!-- </div> -->
