
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>





  <div class="container wrapper pad10">

      <div class="inner_content">

        <div class="row pad10">

          <div class="col-sm-6 col-md-4">
            <h3>
              Want to learn more?<br><br>Have thoughts about how to make the emerging ideas for Block Solid even better?<br><br>Please reach out. We look forward to hearing from you!
            </h3>
          </div>

          <div class="col-sm-6 col-md-8">
            <div class="contact_form">
              <div id="note"></div>
                <div id="fields">
                  <form id="ajax-contact-form">
                    <p class="form_info">name <span class="required">*</span></p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" name="name" value="" />
                    <p class="form_info">email <span class="required">*</span></p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" name="email" value=""  />
                    <p class="form_info">subject</p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" name="subject" value="" /><br>
                    <p class="form_info">message</p>
                      <textarea name="message" id="message" class="col-xs-12 col-sm-12 col-md-12" ></textarea>
                    <div class="clear"></div>
                    <input type="submit" class="btn btn-primary btn-form marg-right5" value="submit" />
                    <input type="reset" class="btn btn-primary btn-form" value="reset" />
                    <div class="clear pad45"></div>
                  </form>
                </div>
            </div>
          </div>

      </div>
    </div>
  </div>

</body>
