
<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

     <div class="container-fluid banner text-center page-title-zone">
      <h3 class="text-muted">Collaborate With Us</h3>
      <h1>Contact</h1>
    </div>



  <div class="container wrapper pad10 ">

      <div class="inner_content" id="contact-zone">

        <div class="row pad10">

          <div class="col-sm-6 col-md-4">
            <div id="contact-conversation">
              <h3>
                Want to learn more?<br><br>Have thoughts about how to make the emerging plans for Block Solid even better?<br><br>Please reach out. We look forward to hearing from you!<br><br>
                <a href="info@block-solid.com">info@block-solid.com</a>
              </h3>
            </div>
          </div>

          <div class="col-sm-6 col-md-8">
            <div class="contact_form">
              <div class="col-xs-12 col-sm-12 col-md-8" id="form-messages"></div>
                <div id="fields">
                  <form id="ajax-contact-form" method="post">
                    <p class="form_info">name <span class="required">*</span></p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" id="name" name="name" value="" required/>
                    <p class="form_info">email <span class="required">*</span></p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" id="email" name="email" value="" required  />
                    <p class="form_info">subject</p>
                      <input class="col-xs-12 col-sm-12 col-md-8" type="text" id="subject" name="subject" value="" /><br>
                    <p class="form_info">message</p>
                      <textarea name="message" id="message" class="col-xs-12 col-sm-12 col-md-12" ></textarea>
                    <div class="clear"></div>
                    <input type="submit" class="btn btn-primary btn-form marg-right5" value="submit" />
                    <input type="reset" class="btn btn-primary btn-form" id="reset-button" value="reset" />
                    <div class="clear pad45"></div>
                  </form>
                </div>
            </div>
          </div>

      </div>
    </div>
  </div>

   <% include partials/footer %>
   <script src="/javascripts/contact.js"></script>
</body>
