<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a class="twitter-grid" href="https://twitter.com/jessieshanks/timelines/697276855271829504">block solid collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <% include partials/footer %>
  </body>
</html>
