<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

    <div class="container-fluid index-container">
      <div class="row banner index-banner" id="bs-intro-visual">
        <div class="column col-md-9">
          <div class="row col-md-12">
              <div class="column col-md-2 col-md-offset-1">
                <div class="well col-md-12 calendar-well text-center">MONDAY</div>
              </div>
              <div class="column col-md-2">
                <div class="well col-md-12 calendar-well text-center">TUESDAY</div>
              </div>
              <div class="column col-md-2">
                <div class="well col-md-12 calendar-well text-center">WEDNESDAY</div>
              </div>
              <div class="column col-md-2">
                <div class="well col-md-12 calendar-well text-center">THURSDAY</div>
              </div>
              <div class="column col-md-2">
                <div class="well col-md-12 calendar-well text-center">FRIDAY</div>
              </div>
          </div>
        </div>
      </div>
    </div>


     <div class="container-fluid index-container">
        <div class="row banner index-banner" id="bs-intro-text">
          <h2 id="name">Block Solid is an innovative homework planning & task managment app for kids, in the initial stages of development.
          Our vision is to create a simple, intuitive, and visually compelling web app that encourages active engagement with the process of planning for and completing assignments.
          Because writing down the due date is just the first step.</h2>
    </div>




      <% include partials/footer %>
  </body>
</html>
