<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

    <div class="container-fluid banner text-center page-title-zone">
      <!-- <h3 class="text-muted">Our Progress So Far</h3> -->
      <!-- <h1>More About the Block Solid Project</h1> -->
    </div>



    <div class="container-fluid index-container">
      <div class="row banner index-banner">

        <div class="column col-md-3 col-md-offset-1">
            <h2>Our Idea</h2>
            <p id="learn-text">
              Block Solid is a planning web app for elementary schoolers that empowers kids to self-manage the homework proceess.<br><br>Block Solid makes students conscious of moving step by step through the process of planning for and completing their homework: breaking assignments down into manageable "blocks", scheduling when to work on these blocks, and tracking their own progress as they see their assignments through to completion. The app is a simple and intutitive scheduler that can be differentiated for the needs of many ages and many types of assignments--from daily reading to weeks-long projects.<br><br>Block Solid provides teachers, parents, and students with a practical, 21st century tool for teaching the skills of organization and task-management.
            </p>
        </div>


        <div class="column col-md-7 ">

            <div class="row col-md-12" id="pitch-row">
              <div class="column col-md-3 col-md-offset-1">
                <h2>Our Pitch</h2>
              </div>
              <div class="column col-md-8">
                <iframe src="https://docs.google.com/presentation/d/1djVcR793ykUAEu88tvgw3NGzW3eDowUh7G9alo7Ye7s/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              </div>
            </div>

            <div class="row well-lg col-md-12 col-sm-12 col-xs-12" id="slowp-row">

              <div class="column col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                <h3 id="slowp-text">Support our Pitch at the SlowPitch Summit<br>March 7 at SXSWedu!</h3>
              </div>

              <div class="column col-md-4 slowp-column">
                <div class="column col-md-11 col-md-offset-1 col-sm-12 col-xs-12 slowp-column">
                  <a href="http://slowpitchedu.org" class="btn btn-secondary col-md-12 col-s-12 col-xs-12 slowp-buttons" role="button">SlowPitch Website</a>
                  <a href="http://schedule.sxswedu.com/events/event_PP54541" class="btn btn-secondary col-md-12 col-s-12 col-xs-12 slowp-buttons" role="button">SXSWedu SlowPitch Session</a>
                </div>
              </div>

              <div class="column col-md-4 col-sm-6 col-xs-6">
                <img src="http://sxswedu.com/sites/all/themes/sxswedu/logo.png" class="img-responsive">
              </div>

            </div>

        </div>

      </div>
    </div>






      <% include partials/footer %>
  </body>
</html>
