<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

    <div class="container-fluid index-container">
      <div class="row banner index-banner" id="bs-intro-visual">


      </div>
    </div>


     <div class="container-fluid index-container">
        <div class="row banner index-banner" id="bs-intro-text">
            Block Solid is a planning web app for elementary schoolers that empowers kids to self-manage the homework proceess. Block Solid makes students conscious of moving step by step through the process of planning for and completing their homework: breaking assignments down into manageable "blocks", scheduling when to work on these blocks, and tracking their own progress as they see their assignments through to completion.The app is a simple and intutitive scheduler that can be differentiated for the needs of many ages and many types of assignments--from daily reading to weeks-long projects.  Block Solid is designed for use in the classroom as a teacher-driven app that facilitates collaboration between teachers, children, and parents. It provides teachers a practical, 21st century tool for teaching the skills of organization and task-management.
        </div>

    </div>




      <% include partials/footer %>
  </body>
</html>
