<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>


  <body>

    <header>
      <% include partials/header %>
    </header>

    <div class="container-fluid banner text-center page-title-zone">
      <h3 class="text-muted">Meet the Makers</h3>
      <h1>Our Team</h1>
    </div>


    <div class="container-fluid">
        <div class="row col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
            <% for (var i=0; i<team.length; i++) { %>
              <div class="column col-md-4">
                <div class="well col-md-12 team-well">
                  <img src="<%= team[i].picUrl %>" alt="" class="img-responsive team-pic">
                   <div>
                    <div class="well team-info">
                      <h3><%= team[i].name %> </h3>
                      <h4><%= team[i].role %> </h4>
                      <p><%= team[i].bio %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
        </div>
    </div>




<div>
 <% include partials/footer %>
</div>
 </body>
</html>


<!-- <div class="col-sm-6 col-md-4">
    <div class="team_sections fadeindown">
      <img alt="" src="img/team/team1.jpg" class="th">
      <h5>
        <span>Mila Novak</span>
      </h5>
      <p>
        <small class="muted">- DESIGNER - </small>
      </p>
      <p class="team_bio">
        Praesent vestibulum taciti sociosqu ad litora molestie. Aenean hendrerit mauris phasellus porta. Fusce suscipit varius mi lorem.
      </p>
      <hr class="team-line">
      <a href="#" class="zocial icon twitter team_ic"></a>
      <a href="#" class="zocial icon facebook team_ic"></a>
      <a href="#" class="zocial icon dribbble team_ic"></a>
      </div>
      <div class="pad15"></div>
    </div> -->
