

body {
  font: 16px "Basic", sans-serif;
}

a {
  color: white;
}

a:hover {
  color: #F5F749;
}

.page-title-zone {
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0 0 30px 0;
}

.page-title-zone h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #7A7978;
  margin: 0;
  padding: 0;
}

.page-title-zone h1 {
  font-size: 3em;
  color: black;
  margin: 0 0 0 0;
  padding: 0;
}

footer {
  margin-top: 30px;
}



/** index layout **/

.index-container {
  margin: 20px 0 0 0;
  padding: 0;
  border: 0;
}

.index-banner {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#bs-intro-visual.row {
  background-color: #A31621;
}

#bs-intro-text {
  padding: 5px 40px 10px 40px;
  height: 250px;
}

.calendar-well {
  height: 350px;
  margin-top: 50px;
  border-radius: 50px;
}

.color-well {
  height: 60px;
  margin: 3px;
  border: none;

}
.yellow-well {
  background-color: #F5F749;
}

.blue-well {
  background-color: #2E86AB;
}

#block-zone {
  margin: 0;
  padding: 0;
}

.yellow-zone {
  margin: 70px 0px 20px 20px;
}

.blue-zone {
  margin: 20px 0px 20px 20px;
}

.white-well {
  height: 0px;
  margin: 3px;
  border: none;
  background-color: transparent;
}

/** learn layout **/

#learn-text {
  font-size: 19px;
  padding-top: 10px;
}


#slowp-row {
  margin-top: 4em;
}

#slowp-text{
  margin-top: 0em;
}

.slowp-column {
  margin: 0;
  padding: 0;
}

.slowp-buttons{
  margin: 0em 2em 1em 0em;
  padding: 1em .25em 1em .25em;
  background-color: #FF6B35;
  border-color: #7A7978;
  border-width: 2%;
  height: 65px;
  font-size: 18px;
}

.slowp-buttons:hover{
  background-color: #7A7978;
}

/** team layout **/

.team-well {
  background-color: #6DA34D;
  margin: 12px 12px 20px 12px;
  border-color: #FF6B35;
  border-width: 0;
  padding: 0;
  height: 585px;
}

.team-info {
  margin: 0;
  padding-top: 5px;
  border: none;
  background-color: transparent;
}

.team-info p{
  font-size: 15px;
}

.team-info h3 {
  font-size: 25px;
  color: white;
}

.team-info h4 {
  font-size: 20px;
}

.team-pic-well {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0;

}

.team-pic {
  padding: 0;
  margin: 0;
}


/** contact layout **/


#ajax-contact-form input, .contact_form textarea { border:0px none; box-shadow: none; }
.contact_form textarea { min-height: 200px;}

.contact_form {
    background-color: #F5F749;
    padding: 40px;
    height: 650px;
    margin-bottom: 20px;
}

#contact-conversation {
  padding: 50px;
  background-color: #2E86AB;
  height: 650px;
  margin-bottom: 20px;
}

.form_info {
  color: #767676;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
  clear: both;
}

#form-messages {
  color: #A31621;
  background-color: #F5F749;
  height: auto;
  margin: 0 0 9px 0;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#ajax-contact-form input, #ajax-contact-form textarea {
  border: 2px solid #d8d3cb;
  color: #888;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 8px;
  margin-bottom: 8px;
}

#ajax-contact-form input { line-height:0px; }
.required { font-size: 17px; }

#ajax-contact-form input.btn-form {
  border: 0 none;
  color: #fff;
  background-color: #2E86AB;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 14px;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.notification_error {
  color: #fff;
  background-color: #333;
  height: auto;
  margin: 0 0 9px 0;
  padding: 10px;
  text-align: left;
}
.notification_ok {
  color: #fff;
  background-color: #333;
  font-weight: 400;
  height: auto;
  margin: 0 0 9px 0;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}



/*   navbar layout */


#main-menu {
  background-color: transparent;
  margin: 10px 0 0 0;
  padding: 1em 3em .5em 3em;

}

#navbar-cube {
  font-size: 1.15em;
  color: #A31621;;
  margin-right: .3em;
  padding: 0;
}

#my-name {
    color: #A31621;;
    letter-spacing: 1.5px;
    font-family: 'Galindo', sans-serif;
    font-weight: 600;
    border: 10px;
}


.navbar-default .navbar-nav>li>a  {
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

#menu-1 a  {
  color: #2E86AB;
}

#menu-2 a  {
  color: #6DA34D;
}

#menu-3 a  {
  color: #FF6B35;
}

.menu-item.nav>li>a:hover  {
    color: #F5F749;
}

#my-name:hover {
    color: #F5F749;
}

#navbar-cube:hover {
    color: #F5F749;
}


@media(min-width:768px) {
    .navbar {
        padding: 25px 0 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border-width: 0px;
    }

    .navbar .navbar-brand {
        font-size: 2.3em;
        padding: .2em 2em 0 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar.navbar-shrink {
        padding: 10px 0;
    }

.navbar.navbar-default {
  border: none;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border-width: 0px;

}
